# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual studio  code config folder
#.vscode/
.vscode/settings.json

# pyinstaller build folders
/dist/
/build/

#Pipfile.lock
Pipfile.lock

#Cocotb_testing
cocotb_testing

#Verilog simulation builds
tests/verilog/sim_build
tests/TFproc/sim_build

# Pytest cache
.pytest_cache/

#Doc preview
_build