# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual studio  code config folder
#.vscode/
.vscode/settings.json

# pyinstaller build folders
/dist/
/build/

#pipfile.lock
pipfile.lock

# Pytest cache
.pytest_cache/