# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual studio  code config folder
#.vscode/
.vscode/settings.json

# cx_Freeze build folder
build/

# pyinstaller build folder
dist/

# Pytest cache
.pytest_cache/