[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pydocstyle = "*"
autopep8 = "*"
pep8 = "*"
pytest = "==5.0.1"
pyinstaller = "*"
sphinx = "*"
cocotb-test = "*"
cocotb = "*"
sphinx-rtd-theme = "*"
doc8 = "*"

[packages]
pycparser = "*"
bitstring = "*"

[requires]
python_version = "3.7"
