[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pydocstyle = "*"
autopep8 = "*"
pep8 = "*"
pytest = "==5.0.1"
cx-freeze = "*"
pyinstaller = "*"

[packages]
pycparser = "*"

[requires]
python_version = "3.7"
